body {
    background-color: black;
    color: gray;
}


button {
    background-color: brown;
    font-size: 20px;
    color: gray;
}

.auto button {
    display: none;
}

.upgrade button {
    display: none;
}

.resources {
    display: grid;
    grid-template-columns: 16.6%;
}

.resources h1 {
    font-size: 25px;
    grid-column: 1;
    grid-row: 1;
}

#dirt {
    grid-column: 1;
    grid-row: 2;
}

#stone {
    grid-column: 2;
    grid-row: 2;
}

#iron {
    grid-column: 3;
    grid-row: 2;
}

#silver {
    grid-column: 4;
    grid-row: 2;
}

#gold {
    grid-column: 5;
    grid-row: 2;
}

#diamond {
    grid-column: 6;
    grid-row: 2;
}

.auto {
    display: grid;
    grid-template-columns: 16.6%;
}

.auto h1 {
    font-size: 25px;
    grid-column: 1;
    grid-row: 1;
}

#dirtauto {
    grid-column: 1;
    grid-row: 2;
}

#stoneauto {
    grid-column: 2;
    grid-row: 2;
}

#ironauto {
    grid-column: 3;
    grid-row: 2;
}

#silverauto {
    grid-column: 4;
    grid-row: 2;
}

#goldauto {
    grid-column: 5;
    grid-row: 2;
}

#diamondauto {
    grid-column: 6;
    grid-row: 2;
}

.upgrade {
    display: grid;
    grid-template-columns: 16.6%;
}

.upgrade h1 {
    font-size: 25px;
    grid-column: 1;
    grid-row: 1;
}

#dirt1 {
    grid-column: 1;
    grid-row: 2;
}

#stone1 {
    grid-column: 2;
    grid-row: 2;
}

#iron1 {
    grid-column: 3;
    grid-row: 2;
}

#silver1 {
    grid-column: 4;
    grid-row: 2;
}

#gold1 {
    grid-column: 5;
    grid-row: 2;
}

#diamond1 {
    grid-column: 6;
    grid-row: 2;
}

#dirt2 {
    grid-column: 1;
    grid-row: 3;
}

#stone2 {
    grid-column: 2;
    grid-row: 3;
}

#iron2 {
    grid-column: 3;
    grid-row: 3;
}

#silver2 {
    grid-column: 4;
    grid-row: 3;
}

#gold2 {
    grid-column: 5;
    grid-row: 3;
}

#diamond2 {
    grid-column: 6;
    grid-row: 3;
}

.inventory {
    position: relative;
    display: grid; 
    grid-template-columns: 16.6%;

}

.inventory h1 {
    grid-column: 1;
    grid-row: 1;
}

#dirtc {
    grid-column: 1;
    grid-row: 2;
}

#stonec {
    grid-column: 1;
    grid-row: 3;
}

#ironc {
    grid-column: 1;
    grid-row: 4;
}

#silverc {
    grid-column: 1;
    grid-row: 5;
}

#goldc {
    grid-column: 1;
    grid-row: 6;
}

#diamondc {
    grid-column: 1;
    grid-row: 7;
}

#dirtautoc {
    grid-column: 2;
    grid-row: 2;
}

#stoneautoc {
    grid-column: 2;
    grid-row: 3;
}

#ironautoc {
    grid-column: 2;
    grid-row: 4;
}

#silverautoc {
    grid-column: 2;
    grid-row: 5;
}

#goldautoc {
    grid-column: 2;
    grid-row: 6;
}

#diamondautoc {
    grid-column: 2;
    grid-row: 7;
}